.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}
.title {
  padding-right: 8px;
  pointer-events: none;
}
.complete .title {
  color: gray;
}
.check-block {
  pointer-events: none;
}
